body {
    margin:0;
    padding:0;
}

/*Шрифты*/
@font-face {
    font-family: 'Myriad Pro Light SemiExtended';
    src: url('../fonts/MyriadPro-LightSemiExt.eot');
    src: url('../fonts/MyriadPro-LightSemiExt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-LightSemiExt.woff') format('woff'),
    url('../fonts/MyriadPro-LightSemiExt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro Bold';
    src: url('../fonts/MyriadPro-Bold.eot');
    src: url('../fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-Bold.woff') format('woff'),
    url('../fonts/MyriadPro-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Myriad Pro Regular';
    src: url('../fonts/MyriadPro-Regular.eot');
    src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-Regular.woff') format('woff'),
    url('../fonts/MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*IMAGE, NAME AND JOB*/
.image-name-and-job{
    margin-top: 176px;
    margin-bottom: 166px;
}

.container{
    text-align: center;
}

.outer-circle{
  border: 2px solid #3d6cb0;
  border-radius: 50%;  
  /*width: 465px;
  height: 465px;*/
  width: 460px;
  height: 460px;
  /*горизонтальное и вертикальное выравнивание*/
  display: flex;
  align-items: center;
  justify-content: center;
  /*центровка*/
  margin: 0 auto;
}
  
.inner-circle{
  background-color: #3d6cb0;
  border-radius: 50%;  
  width: 405px;
  height: 405px;
}

.about_name{
    font-family: 'Myriad Pro Light SemiExtended';
    font-size: 104.49px;
    line-height: 74px;
    margin: 0;
    margin-top: 77px;
    letter-spacing: 1px;
}

.about_surname{
    font-family: 'Myriad Pro Bold';
    font-size: 123.45px;
    line-height: 83px;
    margin: 0;
    margin-top: 27px;
}

.about_profession{
    font-family: 'Myriad Pro Bold';
    font-size: 49.97px;
    line-height: 34px;
    margin: 0;
    margin-top: 46px;
    letter-spacing: -1px;
}

/* block head*/
.block_header{
    display: flex;
    align-items: center;
}

.block_header img {
    height: 143px;
}

.block_header h2{
    margin: 0;
    padding: 0;
    font-family: 'Myriad Pro Bold';
    font-size: 82.3px;
    color: #006cb4;
    /*color: red;*/
    margin-left: 19px;
    margin-top: -2px;
}

.block_header .line{
    margin-left: 15px;
    height: 10px;
    background-color: #006cb4;
    /*background-color: red;*/
    width: 100%;
    margin-top: -6px;
}

/* Profile */

.profile{
    width: 826px;
}


.profile p{
    margin-top: 24px;
    font-family: 'Myriad Pro Regular';
    font-size: 30.86px;
}

.profile p span{
    font-family: 'Myriad Pro Bold';
    font-size: 30.86px;
    letter-spacing: 0px;
    line-height: 20px;

}

/* CONTACT */
.contact{
    width: 826px;
}

.contact table{
    margin-top: 33px;
    font-size: 41.15px;
}

.contact table tr td{
    padding: 0;
    margin: 0;
}

.contact table tr td:nth-child(1){
    font-family: 'Myriad Pro Bold';    
    color: #006cb4;
    padding-top:29px;
    padding-bottom:29px;
    min-width: 250px;
}

.contact table tr td:nth-child(2){
    font-family: 'Myriad Pro Regular';
    color: #000000;
}

/*SKILLS*/

.skills{
    width: 826px;
}

.skills_params{
    margin:0 auto;
    margin-top: 46px;
}

.skills_params h3{
    margin: 0;
    padding: 0;
    font-family: 'Myriad Pro Regular';
    font-size: 51.44px;
    text-align: center;
}


.skills_params .rate{
    justify-content: space-between;
    margin-left: 90px;
    margin-top: 15px;
    margin-bottom: 37px;
    width: 700px;
}

.skills_params .circle{
    display: inline-block; 
    background-color: #006cb4;
    border-radius: 50%;  
    width: 35px;
    height: 35px; 
    margin-right: 16px;
    padding: 0;
}


.creative .rate .circle:nth-last-child(-n+3){
    background-color: #e7e7e7;
}

.teamwork .rate .circle:nth-last-child(-n+1){
    background-color: #e7e7e7;
}

.innovate .rate .circle:nth-last-child(-n+6){
    background-color: #e7e7e7;
}

.communication .rate .circle:nth-last-child(-n+1){
    background-color: #e7e7e7;
}
